---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LogoSplash from "../components/LogoSplash.astro";
import "../styles/global.css";
import BannerFooter from "../components/BannerFooter.astro";


const { title = "PaintCraft MN" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/paintcraft_logo.webp" />
  </head>

  <body class="min-h-dvh bg-white">
    {Astro.url.pathname === "/" && (
      <LogoSplash logoSrc="/paintcraft-mn-logo.png" duration={2200} fadeMs={900} />
    )}

    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <BannerFooter />
  </body>
</html>