---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LogoSplash from "../components/LogoSplash.astro";
import "../styles/global.css";
import BannerFooter from "../components/BannerFooter.astro";


const { title = "PaintCraft MN" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/paintcraft_logo.webp" />

    <!-- Nextdoor Pixel Code -->
    <script is:inline type="text/javascript">
      !function(e,n){var t,p;e.ndp||((t=e.ndp=function(){
      t.handleRequest?t.handleRequest.apply(t,arguments):t.queue.push(arguments)
      }).queue=[],t.v=1,(p=n.createElement(e="script")).async=!0,
      p.src="https://ads.nextdoor.com/public/pixel/ndp.js?id=6297f5b6-c074-4008-9abb-bf2626f5e408",
      (n=n.getElementsByTagName(e)[0]).parentNode.insertBefore(p,n))
      }(window,document);

      ndp('init','6297f5b6-c074-4008-9abb-bf2626f5e408', {});
      ndp('track','PAGE_VIEW');
    </script>

    <noscript>
      <img height="1" width="1" style="display:none"
        src="https://flask.nextdoor.com/pixel?pid=6297f5b6-c074-4008-9abb-bf2626f5e408&ev=PAGE_VIEW&noscript=1"/>
    </noscript>
    <!-- End Nextdoor Pixel Code -->
  </head>

  <body class="min-h-dvh bg-white">
    {Astro.url.pathname === "/" && (
      <LogoSplash logoSrc="/paintcraftmn-logo.png" duration={2200} fadeMs={900} />
    )}

    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <BannerFooter />
  </body>
</html>